.temoignages{
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
        text-align: center;
        padding: 30px;
    }
    .photo{
        display: flex;
        justify-content: space-around;
        padding: 10px;
       
    }
}